<meta charset="UTF-8"></meta>

<title>Northern Va LUG - NoVaLUG. Peter's Change</title>

<meta
  name="keywords"
  content="novalug, northern virginia, linux, users group, lug, meetings, mailing list, open source">
</meta>

<!-- Reveal this for css code validation via upload <base href="http://3.132.59.187/"> -->

<meta
  name="viewport"
  content="width=device-width, initial-scale=1">
</meta>

<link
  href="novalug.css"
  rel="stylesheet"
  type="text/css">
</link>

<link
  href="w3.css"
  rel="stylesheet"
  type="text/css">
</link>

<style>
  /* The w3.css style sheet, linked above, is from w3schools, www.w3schools.com/w3css */ /* Place
  styles only used on this page below this line */  /* styling for newspaper columns */ .newsmore
  {-webkit-column-count: 2; /* Chrome, Safari, Opera */     -moz-column-count: 2; /* Firefox */
  column-count: 2;margin:auto auto auto auto;padding:4px;border:solid black 1px;} li
  {margin-left:-1em;} .newupdate {margin-left:.5em;}
</style>

<!-- begin page border div -->

<div style="background-color:#d4f0fb; margin:2em .3em 1em .3em;border:solid black 4px;">
  <!-- begin outer content div color light blue #d4f0fb -->

  <div style="background-color:#d4f0fb;">
    <!-- Begin inner content div - needed to establish space around content -->

    <div style="margin:auto 1em auto;">
      <!-- top menu -->

      <div style="background-color:#fdf6e6;margin:-2em 1em 0 -.5em; position:fixed; right:0; ">
        <!-- menu content -->

        <!-- nav tag -->

        <nav>
          <img
            class="w3-image"
            alt="home ico"
            src="./pics/home.ico.png"
            width="15"
            height="15"
            title="Guess where you are: already at home!"/>
          |

          <a
            href="./presentations.html"
            title="Go to index of presentations and related resources.">
            Presentations
          </a>

          |

          <a
            href="./pics.html"
            title="View some images from NoVaLUG meetings; discover the wide breadth of subjects covered and meet the people involved.">
            Pictures
          </a>

          |

          <a
            href="./dir.park.html"
            title="Go to directions and parking page.">
            Directions / Parking
          </a>
        </nav>

        <!-- end menu content -->
      </div>

      <!-- end top menu -->

      <br class="clr"/>

      <!-- Begin Title / Logo div -->

      <div class="w3-row">
        <div class="w3-half cntr">
          <h1>NoVaLUG</h1>

          <h3>Welcome to the<br/>Northern Virginia Linux Users Group</h3>
        </div>

        <div class="w3-half">
          <img
            class="w3-image"
            alt="logo"
            src="./pics/penguin.png"
            style="float:right;"
            width="188"
            height="237"
            title="NoVaLUG logo."/>
        </div>
      </div>

      <!-- END Title / Logo div -->

      <br class="clr"/>

      <!-- Begin body text -->

      <!-- ALERT div -->

      <div style="margin:auto 2em auto 2em;border:solid red 2px;">
        <p class="cntr">
          <em>ALERT:</em>

          until further notice, meetings will be conducted via teleconference.
        </p>

        <p style="margin:auto 1em .2em 1em;">
          To attend future meeting, go to NoVaLUG's

          <a
            href="https://www.meetup.com/novalug/"
            title="Go to NoVaLUG's Meetup site.">
            Meetup site.
          </a>

          . RSVP by clicking on:

          <img
            alt="attend button"
            src="./pics/attend.png"
            width="132"
            height="42"/>
          <!-- orgig 263 x 84 -->

          <br/>

          A link to join the meeting will be revealed on Meetup.
        </p>

        <p style="margin:auto auto .5em 1em;font-size:small;">
          New attendees may wish to familiarize themselves with ZOOM before the meeting by going to

          <a
            href="https://zoom.us/"
            title="Go to ZOOM's site for info on using it.">
            ZOOM
          </a>

          video teleconferencing.
        </p>
      </div>

      <!-- Alert div end -->

      <br class="clr"/>

      <br class="clr"/>

      <!-- Mtg announce div -->

      <!-- Double div to make compound border -->

      <div style="float:right;max-width:20%;border:solid green 1px;margin-left:.5em;">
        <div style="margin:1px;border:solid green 1px;padding:.3em;">
          <p class="noshow center">Please check back.</p>

          <h5 class="cntr">
            <span style="border:solid blue 1px;padding:2px;"><u>Meetings</u></span>
          </h5>

          <div>
            <p
              class="cntr"
              style="margin-bottom:-.5em;">
              Nov 13

              <br/>

              10:00 a.m. EDT
            </p>

            <h3 class="sml cntr">
              Making Hardware Work

              <br/>

              <small>(With Linux)</small>

              <br/>

              <br/>

              John Alexander
            </h3>

            <hr></hr>

            <p class="cntr">
              <a
                href="./mtgs.html"
                title="See more important details about meetings.">
                Details
              </a>
            </p>
          </div>
        </div>
      </div>

      <!-- END  Mtg announce -->

      <h3>About NoVaLUG</h3>

      <p id="return.open">
        The Northern Virginia Linux Users Group (NoVaLUG) is the oldest LUG in the Northern VA area
        and likely in the whole of US. Established 1993, the group's focus is on
        <a
          href="https://en.wikipedia.org/wiki/Open_source"
          title="Consult Wikipedia for discussion of open source">
          open source
        </a>

        software with a primary area of interest being

        <a
          href="https://en.wikipedia.org/wiki/Linux"
          title="Consult Wikipedia discussion of Linux">
          Linux
        </a>

        . NoVaLUG members meet monthly to socialize and learn from one-another, as well as from
        guest speakers. Attendees include a mix of IT professionals, hobbyists, students, and other
        interested individuals. Presentations are open for Q&A. Topics of presentations include
        software use and development — a wide range of related topics, some esoteric, e.g.,
        assembling and using a micro-computer (Raspberry Pi) to do aerial photography from a kite.
        Time us usually set aside at the end of meetings for attendees to discuss job opportunities
        for seekers as well as offerings by employers.
      </p>

      <p>
        NoVaLUG is an all volunteer organization. Resources, including human, are provided

        <i>gratis</i>

        . Read about it here:

        <a
          href="./infrastructure.html"
          title="Go to a description of what keeps NoVaLUG thriving">
          Infrastructure
        </a>

        of NoVaLUG.

        <em><u>Speakers sought</u></em>

        — contact John Kennedy.
      </p>

      <p>
        This web page was developed and written with

        <em>open source</em>

        tools. Read

        <a
          href="./#open"
          title="Jump to discussion of open source and this web page">
          more below
        </a>

        about this example of the use of open source software.
      </p>

      <h3>Meetings</h3>

      <!-- - TEXT for discussion of mtgs. -->

      <p>
        Monthly meetings are held in Northern Virginia, normally on the second Saturday, from 10:00
        a.m. to 12 noon; they may be canceled around holidays. Attendees are encouraged to arrive by
        9:45 a.m.
      </p>

      <ul
        class="news"
        style="margin-top:-.9em;">
        <li>
          <strong>Topics / Details</strong>

          are available on the

          <a
            href="https://www.meetup.com/novalug/"
            title="Link to NoVaLUG Meetup page.">
            NoVaLUG

            <span style="font-style:italic;color:#f64060;">meetup</span>

            page
          </a>

          .
        </li>

        <li>
          <strong>
            <a
              href="./pics.html"
              title="Go to pictures page">
              Pictures
            </a>
          </strong>

          :View some images from NoVaLUG meetings; discover the wide breadth of subjects covered and
          meet the people involved.
        </li>

        <li>
          <strong>
            <a
              href="./dir.park.html"
              title="Link to directions and parking info.">
              Directions
            </a>
          </strong>

          — including address, maps, instructions for parking.
        </li>
      </ul>

      <h3>Meeting Videos / Streaming / Slides, etc.</h3>

      <p>
        <a
          href="./presentations.html"
          title="Go to list of presentation and related resources">
          <span class="redd">INDEX</span>
        </a>

        — NoVaLUG meetings are usually streamed to YouTube. They may also be uploaded for viewing
        after meetings - for a list, click on the INDEX.
      </p>

      <h3 id="return.list">Mailing / Discussion List</h3>

      <p>
        NoVaLUG maintains a mailing list for discussion of topics related to Linux and other open
        source subjects. Participants post questions to which others may provide answers.
        Announcements and other items of interest may be posted to the list. Interested parties may
        join by accessing the
        <a
          href="http://firemountain.net/mailman/listinfo/novalug"
          title="Go to the NoVaLUG mailing list entry page.">
          NoVaLUG mailing list entry page
        </a>

        ). We ask that participants behave in a civil manner and respect the rights and opinions of
        others.
      </p>

      <p>
        Linux and open source enthusiasts are encouraged to join the mailing list and to participate
        in discussions thereon to make it a vibrant resource for the community.
      </p>

      <!-- start newsmore div -->

      <div
        id="open"
        class="newsmore">
        <h3>More about Open Source Software</h3>

        <p>This web page was developed using open source software:</p>

        <ul>
          <li>
            <a
              href="https://en.wikipedia.org/wiki/Linux"
              title="Read about Linux on Wikipedia">
              Linux
            </a>

            ! A unix-like computer operating system, some considered Linux to be the epitomy of the
            open source movement. Linux was created by
            <a
              href="https://en.wikipedia.org/wiki/Linus_Torvalds"
              title="Read the storey of Linus on Wikepedia">
              Linus Torvalds
            </a>

            . The first protype was released in 1991, with version 1.0 coming in 1994.
          </li>

          <li>
            The

            <a
              href="https://xubuntu.org/"
              title="Go to Xubuntu's web page">
              Xubuntu
            </a>

            variant of Linux was used in production of this web page. The "X" variant is "slimmer"
            and less demanding of resources. The
            <b>L</b>

            ong

            <b>T</b>

            erm

            <b>S</b>

            upport (

            <b>LTS</b>

            ) version is used for improved stability, freedom from bugs, and lesser need for
            upgrade.
          </li>

          <li>
            <a
              href="http://www.jedit.org/"
              title="Link to jEdit's web page.">
              jEdit
            </a>

            , a "programmer's text editor." The author of this web page keeps coming back to it. One
            can even use regex expressions for search / replace, and that can be across files.
          </li>

          <li>
            This web page was written from scratch in Hypertext Markup Language (

            <a
              href="http://www.jedit.org"
              title="Consult Wikipedia for info on html.">
              HTML
            </a>

            ), using

            <a
              href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets"
              title="Consult Wikipedia for info about CSS">
              Cascading Style Sheets
            </a>

            (CSS) and other open open source applications.
          </li>

          <li>
            The NoVaLUG graphic was constructed from photos of a penguin (swag) and a PC monitor,
            using
            <a
              href="https://www.gimp.org/"
              title="Link to web page for The GIMP">
              The GIMP
            </a>

            . The GIMP is a

            <em>free</em>

            , powerful, image editing and manipulation program, the power of which rivals expensive,
            closed-source, commercial software.
            <ul>
              <li>GIMP is an acronym for "GNU Image Manipulation Program."</li>

              <li>
                GNU —

                <a
                  href="https://en.wikipedia.org/wiki/GNU_General_Public_License"
                  title="Consult Wikipedia for info about General Public Licences.">
                  General Public License
                </a>

                (

                <span style="font-size:small;">GNU GPL or GPL)</span>

                ) is a widely-used free software license, which guarantees end users the freedom to
                run, study, share and modify the software. The license was originally written by
                Richard Stallman of the Free Software Foundation (FSF) for the GNU Project and
                grants the recipients of a computer program the rights of the Free Software
                Definition. The GPL is a copyleft license, which means that derivative work can only
                be distributed under the same license terms. This is in distinction to permissive
                free software licenses, of which the BSD licenses and the MIT License are
                widely-used examples. GPL was the first copyleft license for general use.
              </li>
            </ul>
          </li>

          <li>
            The web is an excellent source of info on coding for web sites. Frequent reference was
            made to resources at
            <a
              href="https://www.w3schools.com"
              title="Link to w3schools web site.">
              w3c schools
            </a>

            for reminders and tips on html and css coding. Their

            <a
              href="https://www.w3schools.com/html/html_responsive.asp"
              title="w3c schools on responsive web design">
              tutorials
            </a>

            on responsive web design were especially useful.
          </li>

          <li>
            This web page was validated for compliance with standards for coding of web pages using
            W3C's
            <a
              href="https://validator.w3.org/"
              title="Link to W3C HTML validation Service.">
              HTML Markup Validation Service
            </a>

            and their

            <a
              href="http://jigsaw.w3.org/css-validator/#validate-by-input"
              title="Link to W3C CSS Validation Service.">
              CSS Validation Service
            </a>

            .
          </li>

          <li>
            In addition to the above, many other valuable, open source applications are available
            and free to use. Notably,
            <a
              href="https://www.libreoffice.org"
              title="Go to Libre Office site for details">
              Libre Office
            </a>

            provides a complete suite applications, i.e., Writer, Calc, Impress, and Draw, used for
            word processing, spreadsheets, presentations and drawing, respectively. Libre Office use
            is not limited to use under the Linux OS.
          </li>
        </ul>

        <p style="float:right;margin-top:-1em">
          [

          <a href="./#return.open">Return to referring paragraph</a>

          ]
        </p>
      </div>

      <br class="clr"/>

      <!-- end newsmore div -->

      <img
        class="logopenguin"
        alt="logo"
        src="./pics/penguins.walking.png"
        style="float:right;"
        title="Lugers en route to a meeting."
        width="410"
        height="243"/>
      <!-- orig 531 x 315 wxh -->

      <h3>What's with the Penguin?</h3>

      <p>
        Tux, Linux Torvald's personal mascot, is the official brand character of the Linux kernel.
        Originally created as an entry to a Linux logo competition, Tux is the most commonly used
        icon for Linux, although different Linux distributions depict Tux in various styles. The
        character, also commonly called the Linux mascot, is used in many other Linux programs and
        as a general symbol for Linux. [Ref:
        <a
          href="https://en.wikipedia.org/wiki/Tux_(mascot)"
          title="Read about the official Linux mascot on Wikipedia.">
          Wikipedia
        </a>

        ]
      </p>

      <!--
        Add text to page by putting it inside of h3 and p tags, ABOVE the hr tag <h3></h3> <p> </p>
        <h3></h3> <p> </p>
      -->
    </div>

    <!-- END inner content div -->
  </div>

  <!-- end outer content div -->
</div>

<!-- END page border div -->

<!-- footer begin -->

<footer
  class="foot"
  style="border:solid 2px black;padding:1em;"
  title="Footnote">
  <p>NoVaLUG extends its thanks for meeting support to:</p>

  <!-- Acknowledgement logos -->

  <div class="w3-row">
    <div class="w3-half">
      <a
        href="https://www.ridgelineintl.com/"
        title="Go to Ridgeline's site.">
        Ridgeline International
      </a>

      — Mission Integrators

      <br/>

      <img
        class="w3-image"
        alt="Ridgeline Logo"
        src="./pics/ridgeline.icon.png"
        style="border:solid 1px blue;padding:2px;"
        title="Ridgeline icon"
        width="140"
        height="30"/>
    </div>

    <div class="w3-half">
      <a
        href="https://www.sg2recruiting.com"
        title="Go to SG2 Recruiting's site.">
        SG2 Recruiting
      </a>

      <br/>

      <img
        class="w3-image"
        alt="w3c Logo"
        src="./pics/sg2.icon.png"
        style="width:5em;border:solid 1px blue;padding:2px;"
        title="SG@ icon"
        width="112"
        height="90"/>
    </div>

    <div class="w3-half">
      <a
        href="https://fiercesw.com"
        title="Fierce Sofware site.">
        Fierce Software
      </a>

      — IT Solutions provider

      <br/>

      <img
        class="w3-image"
        alt="Fierce Logo"
        src="./pics/fierce.wide.png"
        style="width:10em;border:solid 1px blue;padding:2px;"
        title="Fierce icon"
        width="305"
        height="63"/>
    </div>
  </div>

  <!-- END Acknowledgement logos -->

  <br class="clr"/>

  <hr></hr>

  <div>
    This page developed for and maintained by members of NoVaLUG. Interested parties may ask
    questions and engage in discussion by posting to the NoVaLUG mailing list, referenced
    <a
      href="./#return.list"
      title="Go to discussion of mailing / discussion list">
      above
    </a>

    .
  </div>
</footer>

<!-- end footer -->

<!-- Templates -->

<!--
  Update gif <img src="./pics/updated.gif" width="46" height="12" alt="updated icon" title="Updated
  Oct 24, 2019.">&nbsp; &nbsp;>
-->
