/* Style sheet for novalug.org web page */

.cntr {text-align:center;}
h1,h2 {text-align:center;}
h3 {margin:auto auto -.8em 1em;}
hr {margin:auto 2em auto 2em;color:black;}
body {line-height:1.3;}
li {margin-bottom:.2em;}
.sml {font-size:small;}
.logopenguin {width:25%;height:auto;}
.redd {color:red;}
.noshow {display:none;}
.clr {clear:both}
footer {background-color:white;border:solid black 1px;padding:5px;margin:auto 5em auto 5em;
background-color:#d4f0fb;}

/* bkgd border dark blue #0000ff */
body {color:#000000; background:#0000ff;}
a:link {color:#0000FF;}      /* unvisited link   */
a:visited {color:#551A8B;}   /* visited link     */
a:hover {color:#0000FF;}     /* mouse over link  */
a:active {color:#FF0000;}    /* selected link    */

/* Generalized table css */
table {border:solid black 2px;width:100%;}
th, td {border:solid black 1px;padding:2px;}
td {padding:4px;}
caption {font-weight:bold;text-align:center;font-size:large;margin-bottom:.5em;}